PROJECT="relay"

CNAME="${PROJECT}.localhost"

POSTGRES_USER="${PROJECT}"
POSTGRES_PASSWORD="${PROJECT}"
POSTGRES_DB="${PROJECT}"

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}"
DATABASE_URL_WITH_SCHEMA="${DATABASE_URL}?schema=public"

REDIS_PASSWORD="${PROJECT}"
REDIS_ARGS="--save 60 1 --loglevel warning --requirepass ${REDIS_PASSWORD} --protected-mode yes"

API_BASE_URL="http://api.${CNAME}"
VITE_API_BASE_URL="${API_BASE_URL}"
